<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servo Control</title>
</head>
<body>
    <h1>Servo Control</h1>
    <form method="POST">
        {% for i in range(servo_angles|length) %}
            <label for="J{{ i+1 }}-servo">J{{ i+1 }}:</label>
            <input type="number" id="J{{ i+1 }}-servo" name="J{{ i+1 }}-servo" value="{{ servo_angles[i] }}" min="-120" max="120">
            <br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
